- content_for :title do
  Node
  =@node.id

%h1= yield :title

%table.full{ role: 'grid' }
  %thead
    %tr
      %th{ width: 100 } Attribute
      %th Value
  %tbody
    - @node.attributes.each_pair do |key, value|
      %tr
        %td= truncate(key, length: 30)
        %td= truncate(value, length: 70)

= link_to 'Back', nodes_path
