%h1 Welcome to FITRender!

%p This is the development version of the cloud render service from CTU FIT.
%p Sign in to continue.

%p
  %small
    So far
    = User.count
    users have tried out the service
