/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "animate";
@import "settings";

$color-state-idle: $secondary-color;
$color-state-busy: $primary-color;
$color-state-other: $alert-color;

@mixin animate {
  transition: all 200ms;
}

.full {
  width: 100%;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  border: rem_calc(3) $body-bg solid;

  &.state- {
    &idle {
      background-color: $color-state-idle;
    }

    &busy {
      background-color: $color-state-busy;
      @extend .animated;
      @extend .pulse;
      @extend .infinite;
    }

    &other {
      background-color: $color-state-other;
    }
  }
}

.grid {
  &__item {
    a>div {
      @include animate;
      padding: 0.5rem;
    }

    a:hover>div {
      background-color: $primary-color;
      @include animate;
    }
  }
}