/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "animate";
@import "settings";
@import "mixins";

$color-state-idle: $secondary-color;
$color-state-busy: $primary-color;
$color-state-other: $white-smoke;
$color-state-failed: $alert-color;
$color-state-completed: green;

@mixin animate {
  transition: all 200ms;
}

.full {
  width: 100%;
}

img.icon {
  padding: rem-calc(4);
  @include animate;
}

.icon {
  width: 2rem;
  height: 2rem;
  background-color: white;
  border-radius: 100%;
  display: inline-block;
  border: rem_calc(3) $body-bg solid;

  &.medium {
    width: 3rem;
    height: 3rem;
  }

  &.state- {
    &idle {
      background-color: $color-state-idle;
    }

    &busy, &running {
      background-color: $color-state-busy;
      @extend .animated;
      @extend .pulse;
      @extend .infinite;
    }

    &other {
      background-color: $color-state-other;
    }

    &failed {
      background-color: $color-state-failed;
    }

    &completed {
      background-color: $color-state-completed;
    }
  }
}

.grid {
  &__item {

    &>a>div, &>div {
      padding: rem-calc(10) !important;
      @include animate;
      //padding: 0.5rem;
      background: $white;
      @include box-shadow(0, rem-calc(4), rem-calc(8), rgba(0,0,0,0.1));
    }

    &>a:hover>div {
      background-color: $primary-color;
      @include animate;
    }
  }
}